html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Hide external links for exam mode */
#judge0-header,
.judge0-showHelpMenu,
#report-problem-btn,
.judge0-showCopyright {
    display: none !important;
}
